<div class="top-title">
  <h1>123456789</h1>
</div>

<div class="top-study-contents">
  <h2>学習記録</h2>
  <%= link_to "詳細", "#" %>
  <div class="study-group">
    <div class="study-content">
      <div>
        <p>合計</p>
        <p><strong>500</strong>時間</p>
        <p>継続<strong>100</strong>日</p>
      </div>
    </div>
    <div class="study-content">
      <div>
        <p>合計</p>
        <p><strong>500</strong>時間</p>
        <p>継続<strong>100</strong>日</p>
      </div>
    </div>
    <div class="study-content">
      <div>
        <p>合計</p>
        <p><strong>500</strong>時間</p>
        <p>継続<strong>100</strong>日</p>
      </div>
    </div>
    <div class="study-content">
      <div>
        <p>合計</p>
        <p><strong>500</strong>時間</p>
        <p>継続<strong>100</strong>日</p>
      </div>
    </div>
  </div>
</div>

<div class="top-portfolio-contents">
  <h2>ポートフォリオ</h2>
  <div class="portfolio-wrapper">
    <div class="portfolio-image">
      <%= image_tag "top-portfolioImg-01-.png", size: "500x500", alt: "ポートフォリオサイト（本サイト）" %>
    </div>
    <div class="portfolil-description">
      <h3>本サイト</h3>
      <div class="portfolio-function">
        <h4>実装機能</h4>
        <ul>
          <li>学習記録</li>
          <li>記事投稿</li>
          <li>管理者機能(activeadmin)</li>
        </ul>
      </div>
      <div class="portofolio-learn">
        <h4>学び</h4>
        <ul>
          <li>hogehoge</li>
          <li>hogehoge</li>
          <li>hogehoge</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="sns-group">
  <div class="qiita">
    <h3><%= link_to "Qiita", "https://qiita.com/kazu_kazu" %></h3>
    <p>説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。</p>
  </div>
  <div class="github">
    <h3><%= link_to "GitHub", "https://github.com/kazu638" %></h3>
    <p>説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。</p>
  </div>
  <div class="twitter">
    <h3><%= link_to "Twitter", "https://qiita.com/kazu_kazu" %></h3>
    <p>こちらでも学習記録を残しています。</p>
    <%= link_to "Tweets by kazu22434328", "https://twitter.com/kazu22434328?ref_src=twsrc%5Etfw", class:"twitter-timeline", height: 500 %>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>